.body__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1250px) {
  .body__main {
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 850px) {
  .body__main {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
  }
}
