.project__main {
  position: relative;
  background: white;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  display: grid;
  place-items: center;
}

.project__box {
  background: white;
  position: absolute;
  min-height: 70vh;
  width: 70vw;
  top: 10%;
  transform: translateY(5%);
  cursor: pointer;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.project__card {
  position: relative;
  height: 230px;
  width: 80%;
  margin: 15px;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 0 10px rgb(200, 200, 200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project__para1 {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  word-break: break-word;
}

.project__preview {
  width: 100%;
  height: 78px;
  background: black;
  padding-top: 20px;
  flex: 0.4;
}

.project__name {
  width: 40%;
  margin-left: 25px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.project__stack {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  background: white;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.project__img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border: 0.5px solid #eee;
  border-radius: 50%;
}

.project__description {
  position: relative;
  font-size: 16px;
  flex: 0.7;
  padding: 10px;
}

#project__src__img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
}
.project__overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  transform: translateX(-150%);
  background: rgba(102, 100, 100, 0.6);
  transition: all 0.3s linear;
}

.project__overlay span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  background: rgba(226, 226, 226, 0.6);
}

.project__overlay span:active {
  transform: scale(0.98);
}
.project__overlay span:hover {
  background: rgba(226, 226, 226, 0.8);
}

.project__card:hover .project__overlay {
  transform: translateX(0);
}

.project__sm_source {
  color: black;
}

.project__sm_source span {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  margin-right: 15px;
  visibility: hidden;
  flex: 0.1;
  position: relative;
  top: -30%;
}

#project__src__sm__img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.project__sm_source span:active {
  color: blue;
}

@media (max-width: 1050px) {
  .project__main {
    height: fit-content;
    position: relative;
  }

  .project__box {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    width: 100vw;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateY(10%) translateX(-50%);
  }

  .project__card {
    margin-bottom: 20px;
    font-size: 14px;
    height: 220px;
    width: 80%;
  }

  .project__name {
    font-size: 14px;
  }

  .project__description {
    margin-top: 10px;
    font-size: 13px;
  }

  .project__card:hover .project__overlay {
    transform: translateX(-150%);
  }

  .project__sm_source span {
    visibility: visible;
  }
}
